h1 {
    border-radius: 20px;
    padding: 20px;
}

table {
    border-radius: 20px;
    padding: 20px;
    width: 1400px;
    border-spacing: 15px;

}

img {
    width: 100px;
    border-radius: 10px;

}

td {
    height: 100px;
}