img {
    background-repeat: no-repeat;
    width: 50%;
    float: right;
    padding: 10px 0px 0px 10px;

}

p {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 720px;
    padding: 110px;
    
    
}


#logo {
    width: 60px;
    height: 60px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.submenu>div {
    display: none;
    position: absolute;
    font-family: sans-serif;
}

.submenu:hover div {
    display: flex;
}

a {
    color: black;
    font-family: sans-serif;
}

a:hover {
    color: #B06761;
}

h3 {
    background-color: #B06761;
    color: white;
    text-align: center;
    padding: 3px;
    font-family: cursive;
    border-spacing: 15px;
    font-size: 15px;
    line-height: 27px;
}